<!DOCTYPE html>
<html >

	<head>

		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/css/accueil_ecran.css">

		<title>ACCEUIL</title>
	</head>

	<body>

		<h1>BIENVENUE DANS POPUP'GAME</h1>
		<img src="/img/logo.png"/ width="100px" height="100px" class="logo"/>

		<h2 class="choix">Choisisez votre équipe</h2>

		<div class ="popcorn">
			<h2>Pop'corn </h2>
			<hr width="100%" color="white">


		</div>

		<div class="popbox">
			<h2>PopBox</h2>
			<hr width="100%" color="red">

		</div>

		<form>
			<input type="button" class="jouer"value="Jouer" >
		</form>




	</body>

	<br/>

	<footer>
		<p> Ce jeu a été devéloppé par 5 étudiants en Licence 3 Informatique de l'Université Jean Monnet de Saint-Etienne </p>

		<p>@Copyright: Ibrahima DIALLO, Aldwin LAUREAT, Christian OKOUERET ELENGA, Solofo RABONARIJAONA, Morad BENKARAACHE</p>
	</footer>

</html>
