<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ECRAN - POP UP GAME</title>
    <style>
      body, html {
        margin: 0;
        position: relative;
      }
    </style>
  </head>
  <body>

    <h1>PAGE DE CONFIGURATION DE POP UP GAME</h1>


    <form action="/ecran_inscrit" method="get" id="config-form">
      <div>
        <label>nombre de vague : <input type="number" name="nbr_vague" min="1" max="8" id="nbr-vague" /></label>
      </div>
      <div>
        <label>nombre de joueur par vague : <input type="number" name="nbr_joueur_par_vague" min="2" max="25" id="nbr-joueur-vague" /></label>
      </div>

      <div>
        <input type="submit" value="LANCER LE JEU" />
      </div>
    </form>

    <% /* SCRIPT POUR ENREGISTRER LES CONFIG */ %>
    <script src="/js/admin.js"></script>

  </body>
</html>
