<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ECRAN - POP UP GAME</title>
    <style>
      body, html {
        margin: 0;
        position: relative;
      }
    </style>
  </head>
  <body>

    <h1>Attendez le prochain tour</h1>

    <% /* SCRIPT POUR CHARGER LA MANETTE */ %>
    <script src="/js/attente.js"></script>
  </body>
</html>
