<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/police/mainecraft/stylesheetSOLO.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="/police/baloo-fontfacekit/web fonts/baloo_regular_macroman/stylesheet.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="/police/blackjack-fontfacekit/web fonts/blackjack_regular_macroman/stylesheet.css" type="text/css" charset="utf-8" />

  <title>ECRAN - INSCRIPTION</title>

  <style>
/*
    * {
      box-sizing: border-box;
    }*/

    [class*="col-"] {
      padding: 15px;
      margin:auto;
    }
/*
    html {
      font-family: "verdana", sans-serif;
    }*/

    body, html {
            height: 100%;
            margin: 0;
        }

    /* **************** le header   *********************/
    .header h1 {
      text-align: center;
      font-family: 'minecraft_peregular';
      /* font-family: 'Press Start 2P', cursive;*/
      /*font-family: 'Permanent Marker', cursive;*/
      font-size: 3em;
      font-weight: bold;
      margin-top: 25px;
      margin-bottom: 0px;
      color: orange;
    }

    .header h2 {
      text-align: center;
      font-family: 'minecraft_peregular';
      /* font-family: 'Press Start 2P', cursive;*/
      /*font-family: 'Permanent Marker', cursive;*/
      font-size: 2em;
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 0px;
      color: black;
    }


      /**** le background ******/
    .bg {
     /* The image used */
    background-image: url("/test/bg_2.jpg");
      /* Full height */
      height: 100%;
        /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      font-family: 'minecraft_peregular';
    }

    form {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
        background: #ffb76b;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0);
        /* IE6-9 */
        width: 100%;
        margin-left: 0%;
        border-radius: 25px;
        padding: 50px;
        margin-top: 50px;
        font-family: 'minecraft_peregular';
        /* font-family: 'Press Start 2P', cursive;*/
        /*font-family: 'Permanent Marker', cursive;*/
        font-size: 1.8em;
        font-weight: bold;
    }

    .myButton {
        -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
        -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
        box-shadow: inset 0px 1px 0px 0px #a4e271;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
        background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
        background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
        background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
        background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
        background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809', GradientType=0);
        background-color: #89c403;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #74b807;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 1.5em;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528009;
        margin-top: 50px;
        width: 60%;
        height: 100px;
    }

    .myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
        background: -moz-linear-gradient(top, #77a809 5%, #89c403 100%);
        background: -webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
        background: -o-linear-gradient(top, #77a809 5%, #89c403 100%);
        background: -ms-linear-gradient(top, #77a809 5%, #89c403 100%);
        background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403', GradientType=0);
        background-color: #77a809;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

    /*************** Le logo ********************/
    #logo {
      text-align: center;
    }

    .shake-bottom {
      -webkit-animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
      animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    }




    input[type="radio"] {
      /*display: none;*/
    }

    /* la phrase "Cette page est accessible uniquement ...." */
    .col-6 p {
      font-size: 40px;
      font-style: italic;
      text-align: center;
      color: black;
      font-weight:bold;
    }

    .bienvenue {
      font-size: 60px;
      margin-bottom: -30px;
      margin-top:10px;
    }



    /************** Pour le formulaire ***************/


    legend {
      color:#DF3F3F;
      font-weight:bold;
      font-size: 30px;
    }

    fieldset {
      padding:0 20px 20px 20px;
      margin-bottom:10px;
      border:5px solid #DF3F3F;

    }

    input[type="text"] {
      padding:10px;
      border:4px solid #F5C5C5;
      border-radius:10px;
      width:200px;
      box-shadow:1px 1px 2px #C0C0C0 inset;
    }




    .pseudo {
      margin-top:-20px;
      display:block;
      font-size: 30px;
      font-weight:bold;
    }

    .per{
      font-size: 30px;
      font-weight:bold;
      margin-top:15px;
    }

/************** CONFIGURATION RESPONSIVE DESIGN *************/

    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    @media only screen and (min-width: 600px) {
      /* For tablets: */
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
    }
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 60%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
    }

    /******************* ANIMATIONS ***********************/
            /* ----------------------------------------------
 * Generated by Animista on 2019-5-3 18:5:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
        /**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */

        @-webkit-keyframes bounce-top {
            0% {
                -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
            }
            24% {
                opacity: 1;
            }
            40% {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            65% {
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            82% {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            93% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            25%,
            55%,
            75%,
            87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
            }
        }

        @keyframes bounce-top {
            0% {
                -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
            }
            24% {
                opacity: 1;
            }
            40% {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            65% {
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            82% {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            93% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            25%,
            55%,
            75%,
            87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
            }
        }
        /* ----------------------------------------------
 * Generated by Animista on 2019-5-3 14:52:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
        /**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */

        @-webkit-keyframes shake-bottom {
            0%,
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
            }
            10% {
                -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
            }
            20%,
            40%,
            60% {
                -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
            }
            30%,
            50%,
            70% {
                -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
            }
            80% {
                -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
            }
            90% {
                -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
            }
        }

        @keyframes shake-bottom {
            0%,
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
            }
            10% {
                -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
            }
            20%,
            40%,
            60% {
                -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
            }
            30%,
            50%,
            70% {
                -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
            }
            80% {
                -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
            }
            90% {
                -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
            }
        }
        /* ----------------------------------------------
 * Generated by Animista on 2019-5-3 14:17:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
        /**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */

        @-webkit-keyframes kenburns-top {
            0% {
                -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
                -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
            }
            100% {
                -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
                -webkit-transform-origin: top;
                transform-origin: top;
            }
        }

        @keyframes kenburns-top {
            0% {
                -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
                -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
            }
            100% {
                -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
                -webkit-transform-origin: top;
                transform-origin: top;
            }
        }
        /* ----------------------------------------------
 * Generated by Animista on 2019-5-3 14:13:53
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
        /**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */

        @-webkit-keyframes tracking-in-contract-bck {
            0% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(400px);
                transform: translateZ(400px);
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                opacity: 1;
            }
        }

        @keyframes tracking-in-contract-bck {
            0% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(400px);
                transform: translateZ(400px);
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                opacity: 1;
            }
        }


        #persos {
          height: 100px;
          width: 30%;
          overflow-x: scroll;
          margin-left: 33.3%;
          overflow-y: -moz-scrollbars-none;
        }

        input {
          display: box;
          margin-bottom: 50px;
        }

        label {
          margin-bottom: 50px;
        }


  </style>
</head>

<body>
<div class="bg">
  <div class="header">
    <h1>POP UP</h1>
    <h2 class="bounce-top">G A M E</h2>
  </div>

  <div class="row">
    <div class="col-6 col-s-9">

  		<form method="get" action="/inscription">
                <label class="pseudo" for="pseudo">VOTRE PSEUDO</label>
                <input type="text" name="pseudo" id="pseudo" required/>
                <span id="pseudo-help" style="display:none; color:red;">Ce pseudo est déjà pris !</span>

                <br />

                <div class="per">
                  CHOISISSEZ VOTRE PERSONNAGE
                </div>

                <br />
                <div id="persos">
                <input type="radio" value="bat_pop" name="pop_name" id="bat_pop"/>
                <label for="bat_pop">
                <img src="/test/bat_pop.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" value="caramba_pop" name="pop_name" id="caramba_pop"/>
                <label for="caramba_pop">
                  <img src="/test/caramba_pop.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" value="gentle_pop" name="pop_name" id="gentle_pop"/>
                <label for="gentle_pop">
                  <img src="/test/gentle_pop.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" value="pop_blood_gang" name="pop_name" id="pop_blood_gang"/>
                <label for="pop_blood_gang">
                  <img src="/test/pop_blood_gang.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="pop_boy" id="pop_boy"/>
                <label for="pop_boy">
                  <img src="/test/pop_boy.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="pop_carrey" id="pop_carrey"/>
                <label for="pop_carrey">
                  <img src="/test/pop_carrey.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="pop_kent" id="pop_kent"/>
                <label for="pop_kent">
                  <img src="/test/pop_kent.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="pop_marley" id="pop_marley"/>
                <label for="pop_marley">
                  <img src="/test/pop_marley.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="pop_minator" id="pop_minator"/>
                <label for="pop_minator">
                  <img src="/test/pop_minator.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="pop_ninja" id="pop_ninja"/>
                <label for="pop_ninja">
                  <img src="/test/pop_ninja.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="pop_ninja" id="pop_soldat"/>
                <label for="pop_soldat">
                  <img src="/test/pop_soldat.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="pop_vador" id="pop_vador"/>
                <label for="pop_vador">
                  <img src="/test/pop_vador.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="saint_patrick_pop" id="saint_patrick_pop"/>
                <label for="saint_patrick_pop">
                  <img src="/test/saint_patrick_pop.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="santa_pop" id="santa_pop"/>
                <label for="santa_pop">
                  <img src="/test/santa_pop.png" width="70px" height="70px"/>
                </label>

                <br/>

                <input type="radio" name="pop_name" value="thug_pop" id="thug_pop"/>
                <label for="thug_pop">
                  <img src="/test/thug_pop.png" width="70px" height="70px"/>
                </label>
              </div>

            <input class="myButton" type="submit" value="JOUER" />
		      </form>

        </div>

    </div>


   <script src="/js/inscription.js"></script>

 </div>
  </body>

</html>
