<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ECRAN - POP UP GAME</title>
    <style>
      body, html {
        margin: 0;
        position: relative;
      }
    </style>
  </head>
  <body>

    <h1>Bienvenue sur POP UP GAME, <%= pseudo %></h1>
    <h2>DÉSOLÉ MAIS LE JEU EST COMPLET</h2>

  </body>
</html>
