<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ECRAN - POP UP GAME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js">
    </script> 
    
  </head>
  <body class="jumbotron text-center">

    <h3><button type="button" class="btn btn-danger"> Bienvenue dans Popup'Game <%= pseudo %> </button></h3>
    <br>

    <h2><button type="button" class="btn btn-danger">DÉSOLÉ MAIS LE JEU EST COMPLET</button></h2>

  </body>
</html>
